@model OPTATIVOIII3ERPARCIAL.Models.Persona

<h2>Editar Persona</h2>

<form method="post" action="/api/Persona/@Model.idPersona">

    <input type="submit" value="Guardar cambios">
</form>

<a href="/Home">Volver a Home</a>
